name: Coverage
on:
  push:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        name: Checkout code
      - uses: burrunan/gradle-cache-action@v1
        name: Build and test
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        with:
          job-id: jdk8
          arguments: build coverallsJacoco
          gradle-version: wrapper
